body {
    font: 1em helvetica, arial, sans-serif;
    background-image: url(/img/catbackground1.png);
    color: #222;
    padding: 5em;
    cursor: pointer, url(/img/grumpy.png);
    height: 100vh;
    /* cursor: cell; */
  
  }
  

  .story {
    padding: 0 1em;
    margin: 1em 0;

  }
  
  .progressBar {
    /* background-color: limegreen; */
    /* background: linear-gradient(90deg, yellow 0%,goldenrod 100%); */
    background-image: url(/img/cats.jpg);
    /* background-size: 300vw;
    background-position: -200vw; */
    border-radius: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 1.25em;
    overflow: hidden;
  }
  
  .mainnav > li{
    background-color: whitesmoke;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: top;

  }

  .sliderbody {
    background-color: #fff;
    color: #fff;
    font: 400 normal 1em/1.5 'Roboto', helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Roboto', helvetica, arial, sans-serif; 
    }
  
  p.caption {
    justify-content: center;
    background-color: yellow;
    margin-top: 23em;
    border-radius: 0.25em;


    /* padding: 0 10em; */
    /* max-width: 50em; */
  }
  
  .show {
    position: relative;
    justify-content: center;
    background-color:black;
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 1em;
    
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    
  }
  
  
  .sleepycat{
    background-image: url(/img/tired-cat.jpg);
    /* opacity: 0.6; */
    background-size: auto 30em;
      background-repeat: no-repeat;
      background-position: center bottom;
      padding: 2em 1em 13em 1em;
      text-align: center;
    opacity: 100;
    max-width: 100em; 
  }
  
  
  img{
    opacity: 50%;
  }
  
  .slide.angrycat {
    
      padding: 2em 1em 13em 1em;
      text-align: center;
  }
  
  .angrycat {
    background-image: url(/img/angry-cat.jpg);
    background-size: auto 30em;
      background-repeat: no-repeat;
      background-position: center bottom;
  }
  
  .slide.hidingcat {
    background-image: url(/img/cat-hiding.jpg);
    background-size: auto 30em;
      background-repeat: no-repeat;
      background-position: center bottom;
      padding: 2em 1em 13em 1em;
    text-align: center;
    max-width: 100em; 
  }
  
  .current {
    opacity: 1;
  }
  
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .btn {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: goldenrod;
    border: 2px solid grey;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
    text-align: center;
    line-height: 2;
    position: absolute;
    top: 4em;
  }
  #prev {
    left: 2em;
  }
  #next {
    right: 2em;
  }
  
  .container{
    margin: 0 auto;

  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1em;
    margin: 0em;
    width: 100%;
  }
  
  .heading {
    opacity: 0;
    transition:  opacity 1s;
  }
  
  .show {
    opacity: 1;
    padding: 14em 17em 14em 17em;
  }
  
  .dot {
    height: 3px;
    width: 3px;
    position: fixed;
    background-color: maroon;
  }
  
  .header {
    background-color: white;
    font-style: initial;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    
  }
  .Intro {
    background-color: #f5ea92;
    padding: 0.1em 1em 35em 1em;
    margin-top: 3em;
    height: 20em;
    border-radius: 0.25em;
  }
  
  .first {
    background-color: #f3e260;
    padding: 0.1em 1em 0.1em 1em;
    margin-top: 3em;
    border-radius: 0.25em;
  }
  
  .Second {
    background-color: #f2d500;
    padding: 0.1em 1em 0.1em 1em;
    margin-top: 3em;
    border-radius: 0.25em;
  }
  
  .Third {
    background-color: goldenrod;
    padding: 0.1em 1em 0.1em 1em;
    margin-top: 3em;
    border-radius: 0.25em;
  }
  
  
  footer {
    display: block;
    background-color: white;
    border-radius: 0.25em;
    padding: 0.25em;
    margin-top: 2em;
  }

/* MOUSE TRACKER */

  .wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#ball {
    width: 60px;
    height: 60px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAA0lBMVEX////+AAAAAAC0AADa2tr19fWHAAD2AACAgICSkpLpAAAZGRn/+/vw8PD+fHxnAABLS0vFxcVmZmZ0dHS5AADTAAC8vLxvAACnp6eYAACnAADk5OT+YWGfn5+IiIj/3Nz/srL+amr/xcVhAAD/6OjHAABLAAA1AABZAAAdAAApAABXV1f+X19fX186OjpCTk7Pz8+Ql5etKyubW1uaTk6TcXEHGxuGEBBDGBhdGBj+Nzf+ior/7+9famrEHh6EUFAIISE/AAC4sLAnAACoDQ04GxuV7tYeAAACwUlEQVR4nO3dW1PTQByG8VIoKS21lkOLFsqhoIKgRRQPqAXE7/+VmOGi+2Y0Nmuy2U36PLdh/9lfuYHOTlKrERERERERERERERERERXecMW6jqPBDTfCd3Xr9lINblrP7bkRPnclHCFEiBAhQoQIERYnfF9F4WTNdPlh2bqrSxmgf4Z3RjL4o/XcTzJ2LZNwRz+41pJ1L3T9UAav6IWX1nO7uhwhQoQIESJEiBBhoMJxFmGj3p51/bklxW+yX1v/a7UD+aFI13+RwV/1SmQt1LGtazO3PkollFaTb7KfNOAgacVrGfzGGpVYpBtuIkSIECFChAgROhaehS/8dmg6P5Y160fSTdJWBmPTPz46n8JnSWuO89uvfQgRagj9hBChhtBPCBFqicLvnnBPORPe7M46PPeEe8qZ0KtKcybc9QT6I4QINYR+QohQQ+gnhFZCPZBQyb/awgwhwvBDiDD8ECIMP4QLKKx1TI09Xf0fp6BdFTvn3dEdpxFqWc95uyqck+yuQogQof8QIkToP4Tp619szPrxc1sqHBXp3acbUiZhrNiTPwoXnujdJ/mpNH16y6lfYQHPp0GIECFChAgRVlUYe8puJYW9vmlnYOpuuVJ15S5TvX26JzBnaqifqP2TO1KmN9l0j/IszPGfJIQIESJEiBAhwoURxsrzxMaqznL0KhL7ECJE6D+ECBH6DyHC8IX9Telhy3SSCtValiVXOisYYaxb+R3cpRLGvq/v+97//Nqy3VcIEQYZQoS+9z8/hAh9739+1Rfqdu9SCbdLJpz0Zk3uu6Zx7MTGQK5MZUmvgFMWeZb83f+pXHjre5sZSn6bzBnCkoQQYfghRBh+iyz8VRmheenb7UNkWvptLrQvfG8zr2Jv3w7z2+yMISx/CMsfwvKHsPwhLH/VF/abUiWFREREREREREREREREVPUeAU4CuWDiONeiAAAAAElFTkSuQmCC);
    background-size: contain;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: 100%;
    margin: -10px 0 0 -10px;
    pointer-events: none;
}

  /* #content{
    
  } */